.sigil-container {
  width: 120px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sigil-line {
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
}

.sigil-line.base {
  stroke: #bbb;
} 

.sigil-svg {
  width: 100%;
  height: auto;
  transform: scale(0.95);
  overflow: visible;
}

.sigil-svg path {
  stroke-dashoffset: 200;
  stroke-dasharray: 200;
  transition: stroke-dashoffset 0.5s ease;
}
